:root {
    box-sizing: border-box;
    background-color: bisque;
}

h1 {
    display: flex;
    justify-content: center;
}

#title image {
    display: flex;
    align-content: flex-start;
    flex-grow: 1;
}

#board {
    height: 610px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: steelblue;
}

#black {
    color: black;
}
#red {
    color: red;
}

#message {
    display: flex;
    justify-content: center;
}

.column {
    border: 3px solid lightgray;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.disc {
    height:100px;
    border-radius: 50%;
}

.disc.pl1 {
    background-color: black;
}

.disc.pl2 {
    background-color: red;
}

